*{
    margin: 0;
    padding: 0;
}

.flex_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 150px;
}


.firstBtn{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-size: 17px;
    visibility: hidden;
}

.secondBtn{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-size: 17px;
}