#getBtn {
    cursor: pointer;
    background-color: red;
    width: 130px;
    height: 30px;
    border-radius: 20px;
    color: white;
}

#wrapper {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}